input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

.noUi-connect {
    background-color: #5d71dd;
}

.noUi-handle::after,
.noUi-handle::before {
    display: none;
}

.noUi-handle {
    box-shadow: none;
    width: 22px;
    height: 22px;
}

#filters__inputs {
    display: flex;
    justify-content: space-between;
}
